.display {
  border: 1px solid #777;
  margin-bottom: 8px;
  padding: 14px 12px 10px;
  /* height: 1em; */
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1;
  position: relative;
}
.display__inr {
  float: right;
  position: relative;
  font-family: Digital;
  text-align: right;
  font-size: 42px;
  overflow: hidden;
  width: 6em;
}
.display__inr::before {
  content: '888888888888';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: right;
  opacity: .05;
}
.display__calcType {
  position: absolute;
  left: 10px;
  top: 12px;
}

